[package]
license = "Apache-2.0 OR MIT"
name = "module-evm-manager"
version = "0.9.81-dev"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
serde = { workspace = true, features = ["alloc", "derive"] }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
module-support = { workspace = true }
primitives = { workspace = true }
orml-traits = { workspace = true }
orml-currencies = { workspace = true }
orml-tokens = { workspace = true }

[features]
default = ["std"]
std = [
    "serde/std",
    "parity-scale-codec/std",
    "scale-info/std",
    "frame-support/std",
    "frame-system/std",
    "sp-core/std",
    "sp-runtime/std",
    "sp-std/std",
    "module-support/std",
    "primitives/std",
    "orml-traits/std",
    "orml-currencies/std",
    "orml-tokens/std",
]
